<div id="header">
  <div id="blue-box-header">
    <div id="three-line">
      <hr id="line1" />
      <hr id="line2" />
      <hr id="line3" />
    </div>
  </div>

  <div id="title">
    <span>Todo List</span>
  </div>
</div>
<br />
<!-- Add todo -->
<div id="add-section">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Add Todo</mat-label>
      <input
        matInput
        placeholder="Placeholder"
        name="car"
        [(ngModel)]="todoName"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <button
      mat-raised-button
      color="warn"
      id="add-button"
      (click)="creatTodo()"
    >
      Add Todo
    </button>
  </form>
</div>

<!-- todo section -->
<div id="todo-section">
  <div id="todo">
    <div id="todo-title">To do</div>
    <mat-card *ngFor="let todo of todos" id="todo-card">
      <mat-card-content
        ><span class="material-symbols-outlined"> pending_actions </span>
        &nbsp;&nbsp;
        <span>{{ todo.Name }}</span></mat-card-content
      >
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="setodo(todo)"
          data-bs-toggle="modal"
          data-bs-target="#updateModel"
        >
          <span style="line-height: 0px">Update</span>
        </button>
        &nbsp;
        <button
          mat-raised-button
          color="accent"
          (click)="deleteEmployee(todo._id)"
        >
          Delete
        </button>
        <button
          mat-raised-button
          color="warn"
          id="completed-button"
          (click)="onComplete(todo)"
        >
          Completed
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- todo todo-completed -->
  <div id="todo-completed">
    <div id="todo-title">Todo Completed</div>
    <mat-card *ngFor="let todo of completedTodo" id="todo-card">
      <mat-card-content
        ><span class="material-symbols-outlined"> pending_actions </span>
        &nbsp;&nbsp;
        <span>{{ todo.Name }}</span></mat-card-content
      >
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="setodo(todo)"
          data-bs-toggle="modal"
          data-bs-target="#updateModel"
        >
          <span style="line-height: 0px">Update</span>
        </button>
        &nbsp;
        <button
          mat-raised-button
          color="accent"
          (click)="deleteEmployee(todo._id)"
        >
          Delete
        </button>
        <button
          mat-raised-button
          color="warn"
          id="completed-button"
          (click)="onComplete(todo)"
        >
          Completed
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- Update Model -->
<div class="modal" id="updateModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create Todo</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Todo</label
            >
            <input
              type="text"
              class="form-control"
              id="Name"
              placeholder="Name"
              name="Name"
              [(ngModel)]="updateTodoName"
            />
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          (click)="updateTodo()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
